<tw-storydata name="Ludum Dare 39" startnode="51" creator="Twine" creator-version="2.1.3" ifid="8DF56FA6-7ABB-472D-94B6-72568E5AB8E7" format="Harlowe" format-version="2.0.1" options="" hidden><style role="stylesheet" id="twine-user-stylesheet" type="text/twine-css">tw-story {
  background-color: #333333;
}

.undo, .redo{
  display: none;
}

tw-link, .enchantment-link, .visited {
    color: #4169E1;
}
tw-link:hover, .enchantment-link:hover, .visited:hover {
    color: #00bfff;
}

btn {
	color: #ddd;
	background-color: #888;
	border-radius: 3px;
	padding: 4px;
}
</style><script role="script" id="twine-user-script" type="text/twine-javascript">

</script><tw-passagedata pid="1" name="init" tags="startup" position="25,25">{(set: $name to (either: &quot;Matt&quot;,&quot;Sandra&quot;,&quot;Tom&quot;, &quot;Bill&quot;,&quot;Kevin&quot;))
(set: $lastname to (either: &quot;Bullock&quot;,&quot;Damon&quot;,&quot;Hanks&quot;,&quot;Paxton&quot;,&quot;Bacon&quot;))
(set: $energy to 20)
(set: $show_e to false)
(set: $planned to 41 * 3600 + 47 * 60)
(set: $engine to 10000)
(set: $music to 0)
(set: $coms to 10)
(set: $heater to 100)
(set: $spent_time to 0)
(set: $call to (colour: &quot;#999999&quot;))
(set: $handbook to false)
(set: $knows to false)
(set: $imsure to false)
(set: $part2 to false)
(set: $acc to 0.01633)
(set: $speed to 4899)
(set: $dist to 326515)
(set: $iss to -62)
(set: $c_iss to false)
(set: $friction to 0)
(set: $air to 100)
(set: $knowledge to false)
(set: $crosswords to 3)}</tw-passagedata><tw-passagedata pid="2" name="beginning" tags="" position="1225,50">(display: &quot;status&quot;)

(print:(round:$planned/3600)) hours before you are reunited with your family. (print:(round:$planned/3600)) hours before you can breathe Earth&#x27;s atmosphere again.

After 28 months of space travel, you are finally done with this assignement. Marco Polo IX is in orbit around the Moon, with the rest of the crew on board. Strangely enough, you were the only one to request a return to Earth. Those weirdos like space way too much.

The course to orbit is set, atmosphere re-entry will be handled by the automatic piloting system, and you will only have to worry about the landing. The energy battery is at (print:(round:$energy))%, which should last for a bit more than 6 hours; then you will have to change to another pill that will last 40 hours.

Everything is set, this will be a piece of cake compared to the failed landing on Cassia 09-B6, 19 months ago. You can lay back on your seat and have a rest.

[[Think about your crewmates on Marco Polo-&gt;flashback]]
[[Skip the flashback-&gt;rest]]</tw-passagedata><tw-passagedata pid="3" name="footer" tags="footer" position="25,150">
(live: 1s)[(set: $spent_time to $spent_time + 1)]
&lt;h6&gt;//Ludum Dare 39 - IronPenguin//</tw-passagedata><tw-passagedata pid="4" name="flashback" tags="" position="175,75">//Back on the Marco Polo IX, 40 hours earlier.//

&quot;So I&#x27;m the only one going back to Earth?&quot;

$call[&quot;Yes, we&#x27;re all in on the next mission.&quot;]

&quot;I don&#x27;t know how you do it, Jaima.&quot;

$call[&quot;Space is fun. And I have no one to go to on the ground.&quot;]

&quot;I know but, the others? Doesn&#x27;t Jonah have a family?&quot;

$call[&quot;He said he had his reasons.&quot;]

&quot;And Wan Wan?&quot;

$call[&quot;I think she said that Earth sucked and that she wanted to stay aways from it as much as possible.&quot;]

&quot;And Marc?&quot;

$call[&quot;He needs the money.&quot;]

&quot;...&quot;

$call[&quot;Yeah I know.&quot;]

&quot;So you will all wait here for the supplies and my replacement?&quot;

$call[&quot;Yes. The pod is all yours.&quot;]

&quot;I don&#x27;t like it, it makes me claustrophobic.&quot;

$call[&quot;Yous spent the last year and a half in a space ship, and the travel to Earth in a pod makes you claustro? It&#x27;s only a 72 hours travel, you&#x27;ll be fine.&quot;]

&quot;Yeah, I&#x27;m sure everything will be completely fine.

[[Go back to reality|rest]]{(set: $spent_time to 317)}</tw-passagedata><tw-passagedata pid="5" name="rest" tags="" position="350,150">(display: &quot;status&quot;)

(if: $energy &gt; 5)[Everything seems to be okay. Acceleration is good, according to the planning. You just need to be ready to change the battery in a few hours.

You could either wait until the energy is low, or prepare now.

[[Wait one hour-&gt;hour rest 1]]
[[Prepare the battery-&gt;main storage]]](else-if: $energy&gt; 0)[Everything seems to be okay. Acceleration is good, according to the planning. You just need to be ready to change the battery soon.

You should prepare now.

(display: &quot;controls&quot;)
[[Prepare the battery-&gt;main storage]]](else-if: $air &gt; 0)[You are running out of energy, you need to get the other battery.(display: &quot;air status&quot;)

[[Get the battery-&gt;main storage]]](else:)[[[Suffocate-&gt;suffocate]]]</tw-passagedata><tw-passagedata pid="6" name="status" tags="" position="25,275">{(live: 0.5s)[(set: $planned to $planned-$spent_time)
(set: $total to $engine + $heater + $music + $coms)
(set: $energy to $energy - 0.0001*$total*$spent_time/1080)
(if: $total &gt; 0)[(set: $remain to 1080 * $energy / 0.0001*$total)]
(set: $r_h to (round: $remain / 3600 - 0.5))
(set: $r_m to (round: ($remain%3600) / 60 - 0.5))
(set: $speed to $speed + $engine * $acc * $spent_time / 3600 + $friction)
(set: $dist to $dist - $speed * $spent_time / 3600)
(set: $iss to $iss + $spent_time / 3600)
(if: $heater &gt; 0)[(set: $air to (min: $air + $spent_time / 120, 100))](else:)[(set: $air to $air - $spent_time / 60)]
(if: $coms &gt; 10)[(set: $coms to 10)]
(set: $spent_time to 0)]}(font: &quot;Courier&quot;)[(live: 1s)[(if: not $part2)[
Time before planned landing: (print: (round: ($planned / 3600)-0.5))h (print: (round: ($planned % 3600)/60 - 0.5))mn](if: $energy &gt; 0)[
Energy left: (print:(round:$energy*10)/10)% ((print:$r_h)h (print:$r_m)mn left) 
Engines: (print:(round:$engine/100))%(if: $heater is 0 or $air &lt; 100)[
Life support: (if: $heater is 0)[OFF](else:)[ON] Oxygen: (round:(max: $air, 0))%]](else:)[
Energy left: (text-style: &quot;fade-in-out&quot;)[0%]
Engines: (text-style: &quot;fade-in-out&quot;)[0%]
Life support: (text-style: &quot;fade-in-out&quot;)[OFF] Oxygen: (round:(max: $air, 0))%(set: $engine to 0)(set: $music to 0)(set: $heater to 0)(set: $coms to 0)]
Speed: (print: (round:$speed/36)/100) km/s
Acceleration: (print:(round: $acc*$engine/36)/100) km/s/h(if: $dist &gt; 0)[
Distance to orbit: (print:(round:$dist)) km](else:)[
Currently in orbit around Earth]]]</tw-passagedata><tw-passagedata pid="7" name="music" tags="" position="175,400">You start listening to some (either:&quot;reggae&quot;, &quot;azontobeats&quot;,&quot;microhouse&quot;, &quot;symphonic black metal&quot;, &quot;estonian pop&quot;, &quot;german indie&quot;, &quot;calypso&quot;, &quot;puerto rican rock&quot;, &quot;indie deep&quot;, &quot;uplifting trance&quot;, &quot;progressive house&quot;,&quot;melodic techno&quot; ).(set: $music to 1)(set: $spent_time to 30*60)

&lt;audio src=&quot;&quot; autoplay&gt;

[[Check your status-&gt;rest]]</tw-passagedata><tw-passagedata pid="8" name="controls" tags="" position="25,400">(live: 0.5s)[(if:$engine &gt; 0)[
(link-repeat: &quot;Turn the engines down.&quot;)[(set:$engine to $engine/2)]](if:$engine &lt; 10000 and $engine &gt; 0)[
(link-repeat: &quot;Turn the engines up.&quot;)[(set:$engine to $engine*2)]](if:$engine&lt;=0 and $energy &gt; 0)[
(link: &quot;Turn the engines on.&quot;)[(set:$engine to 5000)]](if:$engine &gt; 0)[
(link: &quot;Turn the engines off.&quot;)[(set:$engine to 0)]](if:$part2)[(if:$heater&lt;=0 and $energy &gt; 0)[
(link: &quot;Turn life support on.&quot;)[(set:$heater to 10)]](if:$heater &gt; 0)[
(link: &quot;Turn life support off.&quot;)[(set:$heater to 0)]](if:$coms&lt;=0 and $energy &gt; 0)[
(link: &quot;Turn communications on.&quot;)[(set:$coms to 10)]](if:$coms &gt; 0)[
(link: &quot;Turn communications off.&quot;)[(set:$coms to 0)]]]]</tw-passagedata><tw-passagedata pid="9" name="main storage" tags="" position="325,350">You open the main storage unit at the rear of your pod. You remove all the junk Jonah gave you for his family, and look for the battery at the bottom of the chest. This really isn&#x27;t how it should have been stored.

You can&#x27;t find the battery. It&#x27;s the size of a thermos, it shouldn&#x27;t be that hard to find! Either it is hidden behind all the useless stuff, or it has been put elsewhere. You could also call the crew to ask where they put it.(set: $time_spent to 250)

[[Keep looking-&gt;keep looking]]
[[Check the secondary storage unit-&gt;second storage]]
[[Call the Marco Polo-&gt;call MP]]</tw-passagedata><tw-passagedata pid="10" name="keep looking" tags="" position="450,575">You go through the whole unit again. You empty everything, check every bag, every box. The battery is not here.(set: $spent_time to $spent_time + 310)

(if: (history:) contains &quot;second storage&quot;)[This battery is nowhere to be found. Maybe you should call ground control to ask them what to do.(set: $imsure to true)

[[Call ground control-&gt;call GC]]](else:)[[[Take a look at the other storage unit-&gt;second storage]]]
[[Call the Marco Polo-&gt;call MP]]</tw-passagedata><tw-passagedata pid="11" name="second storage" tags="" position="325,575">You open the other storage box. It&#x27;s almost empty, with only the required food and water for your 72 hours trip, minus what you already ate and drink. The battery is not here.(set: $spent_time to $spent_time + 75)

(if: (history:) contains &quot;keep looking&quot;)[This battery is nowhere to be found. Maybe you should call ground control to ask them what to do.(set: $imsure to true)

[[Call ground control-&gt;call GC]]](else:)[[[Go back to the main storage unit-&gt;keep looking]]]
[[Call the Marco Polo-&gt;call MP]]</tw-passagedata><tw-passagedata pid="12" name="call MP 1" tags="" position="725,100">//Calling Marco Polo IX...//(set: $coms to 100)

$call[&quot;Hey $name! We receive you. How are you doing?&quot;]

&quot;Hi Jaima, I may have a problem here.&quot;

$call[&quot;What is it?&quot;]

&quot;I am low on energy and I can&#x27;t find the second battery. Where was it stored?&quot;

$call[&quot;I&#x27;ll ask Jonah, he was the last one to store stuff in there.&quot;]

$call[&quot;He says it didn&#x27;t put it in the pod, someone else did.&quot;]

&quot;Could you ask the others?&quot;

$call[&quot;Sure, give me a minute.&quot;]

$call[&quot;Marc says he thought you did it. Wan Wan didn&#x27;t prepare the pod.&quot;]

&quot;Are you telling me no one took care of the battery?&quot;

$call[&quot;Are you sure it&#x27;s not in the main storage?&quot;]

(if: (history:) contains &quot;keep looking&quot;)[&quot;Yes, I&#x27;m sure.&quot;](else:)[&quot;I didn&#x27;t find it.&quot;]

$call[&quot;And the secondary storage?&quot;]

(if: (history:) contains &quot;second storage&quot;)[&quot;It&#x27;s not in there either.&quot;](else:)[&quot;It&#x27;s only supposed to be the food.&quot;]

(if: $imsure)[[[Continue-&gt;call MP no battery]]](else:)[[[Continue-&gt;call MP look again]]](set: $spent_time to $spent_time + 183)</tw-passagedata><tw-passagedata pid="13" name="call MP 2" tags="" position="800,425">//Calling Marco Polo IX...//(set: $coms to 100)

$call[&quot;Hey again. Did you find the battery?&quot;]

&quot;Nope.&quot;

$call[&quot;...Shit. That&#x27;s bad.&quot;]

&quot;You don&#x27;t say.&quot;

$call[&quot;And what about the spare battery?&quot;]
(if: (history:) contains &quot;call MP spare battery where&quot;)[
&quot;You still don&#x27;t know where it is?&quot;

$call[&quot;I asked the others, but they don&#x27;t know either.&quot;]

&quot;...&quot;

$call[&quot;Maybe call ground control.&quot;]

&quot;Yeah... Thanks.&quot;

//End call//(set: $spent_time to 155)

[[Call ground control-&gt;call GC]]
[[Look for the spare battery-&gt;search everywhere]]](else:)[
[[&quot;What spare battery?&quot;-&gt;call MP what spare battery]]

[[&quot;Where is it?&quot;-&gt;call MP spare battery where]]
]</tw-passagedata><tw-passagedata pid="14" name="call GC" tags="" position="800,575">(display: &quot;status&quot;)

//Calling Ground control...//
(if: $coms &gt; 0)[&lt;img src=&quot;http://i.imgur.com/xlMpKA3.png&quot; width=&quot;210&quot; height=&quot;143&quot;&gt;(if: (history:) contains &quot;call GC 1&quot;)[
[[Engage call-&gt;call GC 2]]](else:)[
[[Engage call-&gt;call GC 1]]]](else:)[
//Communication system offline//(set: $time_spent to 45)

You will need power to call ground control. You are on your own until then.
(if: not ((history:) contains &quot;keep looking&quot;))[
[[Take another look at the main storage-&gt;keep looking]]](if: not ((history:) contains &quot;second storage&quot;))[
[[Check the secondary storage unit-&gt;second storage]]](if: $handbook and $air &gt; 99)[
[[Read the handbook-&gt;handbook]]](if: not ((history:) contains &quot;search everywhere&quot;))[(if: (history:) contains &quot;call MP spare battery where&quot;)[
[[Look everywhere for the spare battery-&gt;search everywhere]]](else:)[
[[Search the whole pod-&gt;search everywhere]]]]
[[Wait and see-&gt;rest 2]]]</tw-passagedata><tw-passagedata pid="15" name="call MP no battery" tags="" position="950,75">$call[&quot;Ok, maybe, MAYBE, someone forgot to get the second battery.&quot;]

&quot;Are you kidding me?&quot;

$call[&quot;Hey it&#x27;s your pod.&quot;]

&quot;Please don&#x27;t be cynical. It&#x27;s my life we&#x27;re talking about.&quot;

$call[&quot;Don&#x27;t panic, there is still the spare battery.&quot;](set: $time_spent to $time_spent + 77)

[[&quot;What spare battery?&quot;-&gt;call MP what spare battery]]

[[&quot;Where is it?&quot;-&gt;call MP spare battery where]]</tw-passagedata><tw-passagedata pid="16" name="call MP look again" tags="" position="850,175">$call[&quot;Ok so... either look again or use the spare battery, I don&#x27;t know.&quot;]

[[&quot;What spare battery?&quot;-&gt;call MP what spare battery]]
[[&quot;Where is the spare battery?&quot;-&gt;call MP spare battery where]]
[[&quot;Ok then&quot; (end call)-&gt;call end look again]]</tw-passagedata><tw-passagedata pid="17" name="call MP what spare battery" tags="" position="1175,175">&quot;What spare battery?&quot;

$call[&quot;There is a spare battery in every pod, right? I mean, you should know that.&quot;]

[[&quot;Where is it?&quot;-&gt;call MP spare battery where]]</tw-passagedata><tw-passagedata pid="18" name="call MP spare battery where" tags="" position="1175,300">&quot;Where is it?&quot;

$call[&quot;...I don&#x27;t know.&quot;]

&quot;What?&quot;

$call[&quot;Hey I&#x27;m not the pod specialist!&quot;]

&quot;Isn&#x27;t an astronaut supposed to know everything about the vessels?&quot;

$call[&quot;Do you?&quot;]

&quot;Fair point.&quot;

$call[&quot;...&quot;]

&quot;So... do you have any idea where I could look first?&quot;

$call[&quot;You should call ground control. They will know.&quot;]

&quot;But they are going to know that I don&#x27;t know...&quot;

$call[&quot;Either that or you run out of power.&quot;]

&quot;Ok ok... thanks for your help.&quot;

// End call//(set: $spent_time to $spent_time + 94)

[[Call ground control-&gt;call GC]]
(if: (history:) contains &quot;call MP no battery&quot;)[[[Search the whole pod-&gt;search everywhere]]](else:)[[[Keep looking for the second battery-&gt;call end look again]]
[[Search the whole pod for the spare battery-&gt;search everywhere]]]</tw-passagedata><tw-passagedata pid="19" name="call end look again" tags="" position="575,400">You close the communications and proceed to search for the battery again.

[[Search the main storage again-&gt;keep looking]]
[[Search the secondary storage unit-&gt;second storage]]</tw-passagedata><tw-passagedata pid="20" name="search everywhere" tags="" position="1175,550">(display: &quot;status&quot;)

You spend the next hour searching the whole pod. No stone left unturned. Actually there are no stones in there, that&#x27;s just a manner of speech. You find a bunch of stuff you had no idea existed, but no (if: (history:) contains &quot;call MP spare battery where&quot;)[spare ]battery. There is a handbook, but it&#x27;s huge and it would take a long time to read.(set: $spent_time to 3745)
(display: &quot;controls&quot;)

[[Call ground control-&gt;call GC]](if: $air &gt; 99)[
[[Read the handbook-&gt;handbook]]](set: $handbook to true)
[[Wait and see-&gt;rest 2]]</tw-passagedata><tw-passagedata pid="21" name="handbook" tags="" position="1200,775">You spend hour reading the manual. There is a lot of information you didn&#x27;t know, which is kind of crazy. But there is nothing really helpful in your situation. There is a whole part about manual atmospheric entry, which may be useful in the future. (if: not $knows and (history:) contains &quot;call MP spare battery where&quot;)[

The main information is: there is no spare battery. You don&#x27;t even know where that idea came from in the first place.]
{(set: $handbook to false)(set: $knows to true)(set: $spent_time to 3754)}
(if: not ((history:) contains &quot;call GC 2&quot;))[
[[Call ground control-&gt;call GC]]]
[[Continue-&gt;rest 2]](set: $knowledge to true)</tw-passagedata><tw-passagedata pid="22" name="rest 2" tags="" position="725,900">(set: $part2 to true)(display: &quot;status&quot;)
{(live: 1s)[(set: $estimate to ($dist / $speed) * 3600)
(set: $e_h to (round: $estimate / 3600 - 0.5))
(set: $e_m to (round: ($estimate % 3600)/60 - 0.5))]}
(live: 1s)[(if: $engine &gt; 0)[If you cut the engines now,](else:)[Given your current speed,] you will reach Earth orbit in (if:$e_h &gt; 0)[$e_h hours and ]$e_m minutes.]
(live: 1s)[(if: $c_iss)[(if: $iss &lt; 0)[If you want to connect with the ISS, you need to get to the rendez-vous point in orbit at the same time. They will reach you orbit entry point in (round: -$iss) hours. You need to get there before they do.](else:)[The ISS is already beyond your entry point, you will not be able to connect with them.]](else:)[Once in orbit, you will be able to enter atmosphere.]](display: &quot;air status&quot;)
(display: &quot;controls&quot;)
(live: 1s)[(if: $air &lt; 0 or ($energy &lt; 0.1 and $estimate/60 &gt; $air))[
[[Suffocate-&gt;suffocate]]](else:)[(if: $remain &gt; 3600 and $estimate &gt; 3600)[
[[Wait 1 hour-&gt;hour rest 2]](if: $handbook and $air &gt; 99)[
[[Read the handbook-&gt;handbook]]]](else-if: $remain &gt; 600)[
[[Wait 10 minutes-&gt;10 minutes]]](if: $estimate &lt; 3600)[
[[Prepare for orbit entry-&gt;orbit prep]]](if: $remain &gt; 3600 * 12 and $estimate &gt; 3600 * 12)[
[[Wait 12 hours-&gt;halfday rest]]](else-if: $remain &gt; 3600 * 6 and $estimate &gt; 3600 * 6)[
[[Wait 6 hours-&gt;6 hours rest]]]]]</tw-passagedata><tw-passagedata pid="23" name="call MP" tags="" position="575,200">(display: &quot;status&quot;)

//Calling Marco Polo IX...//
(if: $coms &gt; 0)[&lt;img src=&quot;http://i.imgur.com/265lb7j.png&quot; width=&quot;210&quot; height=&quot;143&quot;&gt;(if: (history:) contains &quot;call MP 1&quot;)[
[[Engage call-&gt;call MP 2]]](else:)[
[[Engage call-&gt;call MP 1]]]](else:)[
//Communication system offline//(set: $time_spent to 78)

You will need power to call the Marco Polo. You are on your own until then.
(if: not ((history:) contains &quot;keep looking&quot;))[
[[Take another look at the main storage-&gt;keep looking]]](if: not ((history:) contains &quot;second storage&quot;))[
[[Check the secondary storage unit-&gt;second storage]]](if: $handbook and $air &gt; 99)[
[[Read the handbook-&gt;handbook]]](if: not ((history:) contains &quot;search everywhere&quot;))[(if: (history:) contains &quot;call MP spare battery where&quot;)[
[[Look everywhere for the spare battery-&gt;search everywhere]]](else:)[
[[Search the whole pod-&gt;search everywhere]]]]
[[Wait and see-&gt;rest 2]]]</tw-passagedata><tw-passagedata pid="24" name="call GC 1" tags="" position="575,650">//Calling Ground Control...//(set: $coms to 100)

$call[&quot;Hello MPpod-01, this is ground control.&quot;]

&quot;Hello ground control, this is $name $lastname.&quot;

$call[&quot;Hello $name, we receive you.&quot;]

&quot;I have a problem.&quot;

$call[&quot;What is it?&quot;]

&quot;I can&#x27;t find the second battery.&quot;

$call[&quot;...What?&quot;]

&quot;We packed 2 uranium pills for the travel. The first one is almost empty and I can&#x27;t find the second one.&quot;(set: $spent_time to 215)

$call[&quot;Are you sure it&#x27;s not in one of the storage compartments?&quot;]

(if: $imsure)[&quot;Yes I&#x27;m sure. Apparently someone forgot to put it there.&quot;

$call[&quot;What do you mean //someone forgot//?&quot;]](else:)[&quot;I think so.&quot;]
(if: (history:) contains &quot;call MP spare battery where&quot; and not $knows)[
[[Ask about the spare battery-&gt;call GC spare battery]]](if: $imsure)[
[[Ask what should be done if there is no other battery-&gt;call GC solution]]](else:)[
[[Search again (end call)-&gt;call end look again]]]</tw-passagedata><tw-passagedata pid="25" name="call GC spare battery" tags="" position="425,725">&quot;Do you know where the spare battery is?&quot;

$call[&quot;What spare battery?&quot;]

&quot;The one for these kind of scenario.&quot;

$call[&quot;There is no spare battery.&quot;](set: $knows to true)

&quot;...&quot;

$call[&quot;...&quot;]

&quot;Wait what?&quot;

$call[&quot;These things cost a lot of money you know.&quot;]

&quot;There is no spare battery?!&quot;

$call[&quot;Actually, you should know that. It&#x27;s your job.&quot;]

&quot;Am I going to die?&quot;

$call[&quot;We are not going to let you die.&quot;]

&quot;Thank you.&quot;

$call[&quot;This pod costs millions of dollars.&quot;]

&quot;...&quot;

$call[&quot;And can you imagine the media backlash?&quot;]

&quot;It&#x27;s nice to see that you care about me.&quot;

$call[&quot;You&#x27;re welcome.&quot;](set: $spent_time to $spent_time + 213)

[[Ask about the solutions-&gt;call GC solution]]</tw-passagedata><tw-passagedata pid="26" name="call GC solution" tags="" position="450,900">&quot;What can I do?&quot;

$call[&quot;You don&#x27;t have many options. First, you should turn down the engines. You will keep your current speed and will be able to enter Earth&#x27;s orbit. It will take longer but at least it will save a lot of energy. You will have to closely monitor your position.

Then you have two options. Either make your re-entrey and landing with the power you will have left. Or connect with the ISS.(if: $energy &lt; 5)[

The main problem is, with the energy you have left, I don&#x27;t think you can maneuver the pod either toward the ISS or into atmosphere.]&quot;]

&quot;The ISS?&quot;

$call[&quot;Yes, and you will be able to stay there until we find another way to bring you back.&quot;]

&quot;I will feel stupid for asking but...&quot;

$call[&quot;What?&quot;]

&quot;What&#x27;s the ISS?&quot;

$call[&quot;...Are you kidding me?&quot;]

&quot;No, really.&quot;

$call[&quot;How did you get this job?&quot;]

&quot;Don&#x27;t change the subject.&quot;

$call[&quot;The International Space Station, for f***&#x27;s sake!&quot;]

&quot;Oh right, I remember now.&quot;

$call[&quot;...&quot;]

&quot;What? It happens to the best of us.&quot;

$call[&quot;Not only the best apparently.&quot;]

&quot;So? What do I do?&quot;

$call[&quot;It&#x27;s up to you, really. I will send you the data you need about the ISS&#x27;s trajectory. Then you will have to compute the required connexion speed, as well as the rendez-vous location and time. Can you do that?&quot;]

&quot;Err... Yes?&quot;

$call[&quot;Or you can just turn everything off, get into orbit, and then use the power left to enter the atmosphere.&quot;]

&quot;Okay...&quot;

$call[&quot;Anyway, the coms drain your power too. You should limit it to the strict minimum. If it&#x27;s absolutely necessary, you can turn it off when you don&#x27;t use it, but we won&#x27;t be able to contact you.&quot;]

&quot;Thanks. So I guess it&#x27;s up to me now.&quot;

$call[&quot;Yep. Good luck.&quot;]

//Call ended//(set: $c_iss to true)

[[Get to work-&gt;rest 2]]</tw-passagedata><tw-passagedata pid="27" name="call GC 2" tags="" position="600,800">//Calling Ground Control...//(set: $coms to 100)

$call[&quot;Hello MPpod-01, this is ground control.&quot;]

&quot;Hello again ground control.&quot;

$call[&quot;Hello $name, we receive you. Did you find the battery?&quot;]

&quot;It&#x27;s not there. I think we forgot to pack it.&quot;

$call[&quot;Oh...&quot;]
(if: (history:) contains &quot;call MP spare battery where&quot; and not $handbook)[
[[Ask about the spare battery-&gt;call GC spare battery]]](if: $imsure)[
[[Ask what should be done when there is no battery-&gt;call GC solution]]](set: $spent_time to $spent_time + 54)</tw-passagedata><tw-passagedata pid="28" name="hour rest 1" tags="" position="175,225">{(set: $action to (either: 1, 2, 3, 4))}
You rest for an hour, trying to occupy yourself. (if: $air &gt; 60)[(if: $action is 1)[(if: $crosswords &gt; 0)[You do some crosswords that Marc gave you.](else-if: $crosswords is 0)[You ran out of crosswords, so you start doing sudokus instead.](else:)[There still are sudoku grids you haven&#x27;t finished.](set: $crosswords to $crosswords - 1)](else-if: $action is 2)[You read a scifi book.](else-if: $action is 3)[You listen to some music.](else:)[You take a short nap.]](else:)[You try to save oxygen by staying still.]
&lt;img src=&quot;http://i.imgur.com/q6ITYyW.png&quot; width=&quot;201&quot; height=&quot;201&quot;&gt;
[[Continue-&gt;rest]](set: $spent_time to $spent_time + 3600)</tw-passagedata><tw-passagedata pid="29" name="hour rest 2" tags="" position="1050,850">{(set: $action to (either: 1, 2, 3, 4, 5))}
You rest for an hour, trying to occupy yourself. (if: $air &gt; 60)[(if: $action is 1)[(if: $crosswords &gt; 0)[You do some crosswords that Marc gave you.](else-if: $crosswords is 0)[You ran out of crosswords, so you start doing sudokus instead.](else:)[There still are sudoku grids you haven&#x27;t finished.](set: $crosswords to $crosswords - 1)](else-if: $action is 2)[You read a scifi book.](else-if: $action is 3)[You listen to some music.](else-if: $action is 4)[You have a short panic attack when you think about your situtation.](else:)[You take a short nap.]](else:)[You try to save oxygen by staying still.]

[[Continue-&gt;rest 2]](set: $spent_time to $spent_time + 3600)</tw-passagedata><tw-passagedata pid="30" name="halfday rest" tags="" position="1050,975">{(set: $action to (either: 1, 2, 3, 4))}
You rest for twelve hours. You sleep a bit, eat, drink. (if: $action is 1)[This travel seems to take forever.](else-if: $action is 2)[You try to understand what all these buttons are for, but you have no idea what they do.](else-if: $action is 3)[You look at the moon through the window.
&lt;img src=&quot;http://i.imgur.com/q6ITYyW.png&quot; width=&quot;201&quot; height=&quot;201&quot;&gt;](else:)[You just sit there, waiting.]

[[Continue-&gt;rest 2]](set: $spent_time to $spent_time + 3600 * 12)</tw-passagedata><tw-passagedata pid="31" name="orbit prep" tags="" position="675,1025">(display: &quot;status&quot;)

You are now ready to enter Earth orbit. (if: $c_iss)[(if: $iss &lt; -1)[You will be able to connect with the ISS in $iss hours.](else-if: $iss &lt; 0)[You will soon be able to connect with the ISS. You need to maneuver into position.](else:)[It&#x27;s already too late to connect with the ISS.]](if: $coms &gt; 0)[

You are receiving a call from ground control.
(if: (history:) contains &quot;call GC 1&quot;)[[[Answer the call-&gt;answer call]]](else:)[[[Answer the call-&gt;answer first call]]]]

(display: &quot;controls&quot;)
[[Prepare to enter atmosphere-&gt;atmosphere entry]](if: $iss &lt; 0 and $iss &gt; -2)[
[[Connect with the ISS-&gt;maneuver]]](if: $coms is 0)[
[[Call ground control-&gt;call GC 3]]]
&lt;img src=&quot;http://i.imgur.com/8WOFxCr.png&quot; width=&quot;277&quot; height=&quot;237&quot;&gt;</tw-passagedata><tw-passagedata pid="32" name="6 hours rest" tags="" position="1050,1100">{(set: $action to (either: 1, 2, 3, 4))}
You rest for six hours. (if: $action is 1)[This travel seems to take forever.](else-if: $action is 2)[You try to understand what all these buttons are for, but you have no idea what they do.](else-if: $action is 3)[You look at the moon through the window.
&lt;img src=&quot;http://i.imgur.com/q6ITYyW.png&quot; width=&quot;201&quot; height=&quot;201&quot;&gt;](else:)[You just sit there, waiting.]

[[Continue-&gt;rest 2]](set: $spent_time to $spent_time + 3600 * 6)</tw-passagedata><tw-passagedata pid="33" name="maneuver" tags="" position="1000,1375">You can see the ISS in the distance. (if: $energy &gt; 0)[They&#x27;re closing in fast, you need to be ready.(display: &quot;air status&quot;)

You use the controls to align yourself with their trajectory. (set: $energy to $energy - (either: 1, 2, 3))(set: $spent_time to $spent_time + 60)(set: $engine to 0)(if: $energy &lt; 2)[The pod is very low on energy, you must save as much as possible.](else-if: $energy &lt; 0)[The pod is out of energy, you are going to miss them!]

(display: &quot;controls&quot;)
(if: $energy &gt; 0)[[[Continue-&gt;connect success]]](else:)[[[Continue-&gt;connect fail]]]](else:)[With the pod out of energy, you will have to rely on them now.(display: &quot;air status&quot;)

[[Continue-&gt;connect fail]]</tw-passagedata><tw-passagedata pid="34" name="answer call" tags="" position="325,1300">//Call from ground control...//(set: $coms to 100)
&lt;img src=&quot;http://i.imgur.com/xlMpKA3.png&quot; width=&quot;210&quot; height=&quot;143&quot;&gt;
$call[&quot;Hello MPpod-01, this is ground control.&quot;]

&quot;Hello ground control, I can hear you fine.&quot;

$call[&quot;Hello $name, what is the situation up there?&quot;]

&quot;I am about to enter Earth&#x27;s orbit.&quot;
(if: $iss &lt; 0 and $iss &gt; -2)[
$call[&quot;Ok that is good news. Are you ready to connect with the ISS? They should be close to you soon.&quot;]

[[&quot;I am.&quot;-&gt;GC about ISS connexion]]
[[&quot;I would prefer to enter atmosphere directly&quot;-&gt;GC about atmosphere entry]]](else:)[
$call[&quot;Ok good, now you will have to enter athmosphere.&quot;]

[[Ask about atmospheric entry-&gt;GC about atmosphere entry]]](set: $spent_time to 85)</tw-passagedata><tw-passagedata pid="35" name="call GC 3" tags="" position="325,1175">You turn the communications on and call ground control.

//Calling ground control...//(set: $coms to 100)
&lt;img src=&quot;http://i.imgur.com/xlMpKA3.png&quot; width=&quot;210&quot; height=&quot;143&quot;&gt;
$call[&quot;Hello MPpod-01, this is ground control.&quot;]

&quot;Hello ground control, this is $name $lastname.&quot;

$call[&quot;Hello $name, what is the situation up there?&quot;]

&quot;I am about to enter Earth&#x27;s orbit.&quot;
(if: $iss &lt; 0 and $iss &gt; -2)[
$call[&quot;Ok that is good news. Are you ready to connect with the ISS? They should be close to you soon.&quot;]

[[&quot;I am.&quot;-&gt;GC about ISS connexion]]
[[&quot;I would prefer to enter atmosphere directly&quot;-&gt;GC about atmosphere entry]]](else:)[
$call[&quot;Ok good, now you will have to enter athmosphere.&quot;]

[[Ask about atmospheric entry-&gt;GC about atmosphere entry]]](set: $spent_time to 85)</tw-passagedata><tw-passagedata pid="36" name="atmosphere entry" tags="" position="300,1525">(if: $energy &gt; 3)[You turn on the descent system, strap your belt and sit tight. Now the computer should do all the work for you.

The pod enters the mesosphere properly, and the temperature rises. The thermic protection should keep you safe, nothing to worry about here.
(if: $energy &gt; 4)[
[[Brace yourself-&gt;successful landing]]](else:)[
[[Brace yourself-&gt;system failure]]]](else:)[You take the handles and try to position the pod for the descent. (if: $energy &gt; 0)[You use the last of the power to set the correct trajectory. You then sit tight and prepare to open the parachute at the right moment.

[[Brace yourself-&gt;manual landing]]](else:)[But without power there is nothing you can do. The pod is going to going toward Earth too fast, and there is nothing you can do about it.

[[Brace yourself-&gt;undershoot]]]]
&lt;img src=&quot;http://i.imgur.com/8WOFxCr.png&quot; width=&quot;277&quot; height=&quot;237&quot;&gt;</tw-passagedata><tw-passagedata pid="37" name="answer first call" tags="" position="325,1050">//Answer call from ground control...//(set: $coms to 100)
&lt;img src=&quot;http://i.imgur.com/xlMpKA3.png&quot; width=&quot;210&quot; height=&quot;143&quot;&gt;
$call[&quot;Hello MPpod-01, this is ground control.&quot;]

&quot;Hello ground control, this is $name $lastname.&quot;

$call[&quot;Hello $name, what is the situation here?&quot;]

&quot;I am out of power.&quot;

$call[&quot;What? The batteries are supposed to last 40 hours each!&quot;]

&quot;There was no second battery.&quot;

$call[&quot;...What? Why?&quot;]

&quot;Too long to explain. I need help.&quot;
(if: $iss &lt; 0 and $iss &gt; -2)[
$call[&quot;Could you connect with the ISS? They should be close to you soon.&quot;]

&quot;I can try that.&quot;

$call[&quot;We will warn them. Get ready.&quot;]

//End call//

[[Wait for the ISS-&gt;maneuver]]](else:)[
$call[&quot;You will have to enter athmosphere nonetheless.&quot;]

[[Ask about atmospheric entry-&gt;GC about atmosphere entry]]](set: $spent_time to 125)</tw-passagedata><tw-passagedata pid="38" name="suffocate" tags="" position="1525,650">You suffocate and die. Plain, simple, and painful.


Next time make sure to monitor the life support system.

[[Retry-&gt;start]](display: &quot;init&quot;)</tw-passagedata><tw-passagedata pid="39" name="air status" tags="" position="25,525">(live: 1s)[(if: $air &lt; 50)[

(if: $heater is 0)[Breathing gets harder. The oxygen supply system is off, and you will soon suffocate.](else:)[You have a hard time breathing, but it should soon get better.]]]</tw-passagedata><tw-passagedata pid="40" name="connect success" tags="" position="1150,1500">The ISS is so close you could almost touch it. The connecting part of the pod is less than 5 meters away from the door of the ISS. Their speed is almost matching yours now.

As they approach, the pod start to rotate. The retroproplusion system maintain the balance, and the nose of the pod keeps pointing toward the station.

When the station finally reaches you, it hits the pod violently. The doors connect as you hear a loud &quot;clonk&quot;. The SAS opens, and you are welcomed by a smiling astronaut.

You are saved! You will just have to stay in space a bit longer than expected.

(display: &quot;success&quot;)</tw-passagedata><tw-passagedata pid="41" name="connect fail" tags="" position="1300,1175">The ISS is so close you could almost touch it. The connecting part of the pod is less than 5 meters away from the door of the ISS. Their speed is almost matching yours now.

As they approach, the pod start to rotate. Without retroproplusion to maintain the balance, the nose of the pod moves toward the... North? Top? Anyway, not the right direction.

When the station finally reaches you, it hits the pod so violently that the already wrong angle gets worst. The pod moves away from the ISS, which keeps its course.
(if: (either: true, false))[
You move away from Earth, completely powerless. You won&#x27;t even be able to try to enter the atmosphere now.

You will die alone, in the cold void of space. At least it won&#x27;t be long, since you are running out of oxygen.


That was so close! You better try again, be more careful next time.

[[Restart-&gt;start]](display: &quot;init&quot;)](else:)[
You move away from the station, toward Earth. Plan A fail, now there is plan B.

[[Enter the atmosphere-&gt;atmosphere entry]]]</tw-passagedata><tw-passagedata pid="42" name="GC about atmosphere entry" tags="" position="125,1225">&quot;What do I need to do to enter the atmosphere properly?&quot;

$call[&quot;What is your energy level?&quot;]

&quot;$energy%&quot;
(if: $energy &lt; 3)[
$call[&quot;This low? You will have to handle the atmosphere entry manually. You know the procedure.&quot;]

&quot;Well...&quot;

$call[&quot;Good luck.&quot;]](else:)[
$call[&quot;Ok, this should be enough for the automatic entry system to work well. You should be fine.&quot;]

&quot;That&#x27;s a relief... Wait, what do you mean //should//?&quot;

$call[&quot;Unless something goes wrong.&quot;]

&quot;What?&quot;

$call[&quot;Could you imagine?&quot;]

&quot;I would rather not...&quot;

$call[&quot;That would be so unlucky.&quot;]

&quot;...&quot;

$call[&quot;Of course, the odds are so low. No way something bad happens, right? Haha!&quot;]

&quot;Of course... ha... ha.&quot;

$call[&quot;Ok, see you soon then!&quot;]]

//End call//

Looks like you are on your own now.

[[Enter atmosphere-&gt;atmosphere entry]]</tw-passagedata><tw-passagedata pid="43" name="GC about ISS connexion" tags="" position="700,1375">$call[&quot;Ok, make sure you have enough power to maneuver in position.&quot;]

&quot;Ok&quot;

$call[&quot;We will warn them. Get ready.&quot;]

//End call//

[[Wait for the ISS-&gt;maneuver]]</tw-passagedata><tw-passagedata pid="44" name="successful landing" tags="" position="300,1700">Once the upper atmosphere passed, temperature goes down again. Everything seems fine.

Then you feel two violent impacts. The first one when the parachute opens, and the second whe you hit the surface of the sea.

You unstrap your belt, and open the door. It feels so good to feel the sun on your face again! You switch the distress beacon on, remove your shoes, and sit on the side of the pod. Now you just have to wait for rescue to come, and you plan on enjoying the sea as much as possible until then.

(display: &quot;success&quot;)</tw-passagedata><tw-passagedata pid="45" name="system failure" tags="" position="575,1700">The automatic system suddenly shuts down. You try to turn it on again, but it&#x27;s out of power. You will have to handle the last part of the descent manually.

[[Keep calm and carry on-&gt;manual landing]]</tw-passagedata><tw-passagedata pid="46" name="success" tags="" position="200,1000">&#x27;&#x27;SUCCESS&#x27;&#x27;

Congratulations on beating the game. Now go and enter the NASA.

//(don&#x27;t forget to rate the game at ldjam.com/users/ironpenguin/games)//</tw-passagedata><tw-passagedata pid="47" name="undershoot" tags="" position="1300,1700">The temperature becomes unbearable. The pod is not at the right angle, and the thermic protection doesn&#x27;t work. The noise makes it impossible to think.

For an instant, it seems like the pod is starting to slow down. The noise is not as deafening. Maybe you will be fi...

And then it explodes.


Although you didn&#x27;t reach Earth&#x27;s surface, some of your body parts may.

[[Retry-&gt;start]](display: &quot;init&quot;)</tw-passagedata><tw-passagedata pid="48" name="manual landing" tags="" position="500,1875">Going through upper atmosphere is the worst part. Once this done you will just need to open the parachute at the right time.(if: $knowledge)[

It&#x27;s a good thing you read the pod manual. You put your hand on the parachute handle, your eyes on the altimeter, and prepare for the right moment.

[[Prepare-&gt;successful landing]]](else:)[

You look for the parachute handle, in panic. If only you had prepared for this travel more attentively. And then you finally find it.

[[Pull the handle-&gt;crash]]]</tw-passagedata><tw-passagedata pid="49" name="crash" tags="" position="1375,1825">You pull the handle and feel the impact of the air in the parachute. But it&#x27;s too late. The ground is too close and your speed is too high.

The pod hits the ground so violently that it completely shatters, spreading pieces of metal (and pieces of you) over several hundred meters.


At least you reached the surface, now staying alive would be better.

[[Retry-&gt;start]](display: &quot;init&quot;)</tw-passagedata><tw-passagedata pid="50" name="10 minutes" tags="" position="900,1100">You wait 10 minutes doing nothing.(set: $spent_time to 600)

[[Continue-&gt;rest 2]]</tw-passagedata><tw-passagedata pid="51" name="start" tags="start" position="1300,175">&lt;h3&gt;SPACE IS FUN&lt;/h3&gt;
&lt;img src=&quot;http://i.imgur.com/8WOFxCr.png&quot; width=&quot;277&quot; height=&quot;237&quot;&gt;
[[Start here-&gt;beginning]]</tw-passagedata></tw-storydata>